
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	// Authentication
	if (Session["userID"] == null)
	{
		Response.Redirect("~/Login/Index");
	}
}

<div class="jumbotron">
	<h1 class="text-center">Customer Dashboard</h1>
</div>

<div class="container">
	<h1>Hello @if (Session["Fullname"] != null) { @Session["Fullname"].ToString() } </h1>
	<a href="@Url.Action("Logout","Login")">Logout</a>
</div>



